Here's a recently uploaded picture <br>
<a href="<%= @photo_url %>"> <%= @photo_url %></a><br>
Here's a flickr user profile<br>
<a href="<%= @random_user_url %>"><%= @random_user_url %></a><br>
Here's a random flickr user's name, try not to stalk...<br>
<%= @random_username %>
