<div class="container">
  <h2>What are the macronutrients of</h2>
  <form action ="/foods" method="get">
    <input type="text" name="food" placeholder="milk, apple, banana...">
    <button type="submit">Search</button>
  </form>

  <% if @foods %>
  <div id="search-results">
    <% @foods.each do |food| %>
      <div class="food">
        <h2><%= food.name %></h2>
        <p class="serving size">Per 100g serving, <%= food.name %> contains:</p>
        <p class="calories"><%= food.calories %> calories</p>
        <p class="carbs"><%= food.carbs %>g carbs</p>
        <p class="fat"><%= food.fat %>g fat</p>
        <p class="protein"><%= food.protein %>g protein</p>
      </div>
    <% end %>

  </div>
  <% end %>
</div>
